    name: Rust CI

    on:
      push:
        branches: [ "main" ]
      pull_request:
        branches: [ "main" ]

    env:
      CARGO_TERM_COLOR: always

    jobs:
      build:
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v4
        - name: Install chef
          run: cargo install cargo-chef

        - name: Test coverage gate
          run: cargo test

        - name: Build using cargo chef
          run: |
            cargo chef prepare --recipe-path recipe.json
            cargo chef cook --recipe-path recipe.json
            cargo build --release 
